* {
	border: 0;
	border-radius: 0;
	font-family: "FontAwesome";
	font-size: 13px; 
	font-weight: bold;
	box-shadow: inherit;
	text-shadow: inherit;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.30);
}

tooltip {
	background-color: rgba(0, 0, 0, 0.80);
	border-radius: 15px;
}

#workspaces button {
	color: #cccccc;
}

#workspaces button.focused {
	color:  #ff00ff;
}
#workspaces button.urgent {
	animation: urgentFlash 0.5s infinite alternate;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.0);
	animation: urgentFlash 1.5s infinite alternate;
}

@keyframes urgentFlash {
	0% {
		color: #ff00ff;
	}
	100% {
		color: #00ced1;
	}
}

#clock,
#tray,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#cpu,
#scratchpad,
#temperature,GPU,
#temperature,CPU,
#temperature,water,
#custom-CPUclocks,
#custom-GPUwattage,
#memory,
#workspaces
{
	background-color: rgba(0, 0, 0, 0.0);
}

#workspaces {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 30px 0px 0px 30px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 13px;
}
#clock {
	color: #ff00ff;
	border-radius: 0px 15px 15px 0px;
	margin-right: 10px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#tray {
	color: #ff0080; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#idle_inhibitor {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 10px;

}

#network {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 0px;
}

#scratchpad {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 25px;
}

#scratchpad.empty {
	color: #CCCCCC; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 25px;
}

#cpu {
	color:  #00ced1;
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 0px;
}

#memory {
	color:  #00ced1;
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 0px;
}

#temperature {
	color: #00ced1;
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 25px;
	padding-right: 0px;
}
#custom-CPUclocks {
	color: #00ced1;
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 25px;
	padding-right: 0px;
}
#custom-GPUwattage {
	color: #00ced1;
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 25px;
	padding-right: 0px;
}

#pulseaudio {
	color: #CCCCCC; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 20px;
}

