* {
    border: none;
    border-radius: 0;
    font-family: Fira Code, FontAwesome;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color:  #222222;
}

window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background: #222222;
    color: #222222;
    border-radius: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: #222222;
}

#workspaces button {
    padding: 3px 7px;
    color: #cccccc;
}

#workspaces button.focused {
    color:  #CCCCCC;
    background-color: #222222;
    border-radius: 15px;
}
#workspaces button.urgent {
    color: yellow;
    background-color: black;
    border-radius: 15px;
    animation: urgentFlash 0.5s infinite alternate;
}

@keyframes urgentFlash {
    0% {
        background-color: black;
        color: yellow;
    }
    100% {
        background-color: yellow;
        color: black;
    }
}

#workspaces button:hover {
	color: #CCCCCC;
	border-radius: 15px;
    	animation: urgentFlash 1.5s infinite alternate;
}

@keyframes urgentFlash {
    0% {
        color: #ff00ff;
    }
    100% {
        color: #00ced1;
    }
}

#custom-date,
#clock,
#tray,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#cpu,
#scratchpad,
#temperature,GPU,
#temperature,CPU,
#temperature,water,
#memory,
#workspaces 

{
    background-color: #222222;
    padding: 5px 10px;
    margin: 5px 0px;
}

#workspaces {
    background-color: #222222;
    border-radius: 15px 0px 0px 15px;
}

#clock {
    color: #ff00ff; /* Main color - pink */
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#tray {
    color: #ff0080; /* Main color - pink */
    border-radius: 0px 0px 0px 0px;
}

#idle_inhibitor {
    color: #ff00ff; /* Main color - pink */
}

#network {
    color: #ff00ff; /* Main color - pink */
}

#scratchpad {
    color: #ff00ff; /* Main color - pink */
}

#scratchpad.empty {
    color: #CCCCCC; /* Gray color for empty scratchpad */
}

#cpu {
    color:  #00ced1; /* Secondary color - yellow */
}

#memory {
    color:  #00ced1; /* Secondary color - yellow */
}

#temperature {
    color: #00ced1;
}

#pulseaudio {
    color: #CCCCCC; /* Gray color for PulseAudio module */
}
