* {
	border: none;
	border-radius: 3;
	font-family: font-awesome-5;
	font-size: 15px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
}

tooltip {
	background-color: rgba(0, 0, 0, 0.63);
	border-radius: 15px;
	border-width: 0px;
	border-style: solid;
	border-color: #222222;
}

#workspaces button {
	padding: 0px 10px;
	color: #cccccc;
}

#workspaces button.focused {
	color:  #cccccc;
	background: transparent;
}
#workspaces button.urgent {
	border-radius: 15px;
	animation: urgentFlash 0.5s infinite alternate;
}

#workspaces button:hover {
	background: transparent;
    	animation: urgentFlash 1.5s infinite alternate;
	box-shadow: inherit;
	text-shadow: inherit;
}

@keyframes urgentFlash {
	0% {
	color: #ff00ff;
	}
	100% {
	color: #00ced1;
	}
}

#custom-date,
#clock,
#tray,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#cpu,
#scratchpad,
#temperature,GPU,
#temperature,CPU,
#temperature,water,
#memory,
#workspaces 

{
	background-color: rgba(0, 0, 0, 0.63);
	padding: 0px 10px;
	margin: 0px 0px;
}

#workspaces {
	background-color: rgba(0, 0, 0, 0.63);
	border-radius: 15px 0px 0px 15px;
}

#clock {
	color: #ff00ff; 
	border-radius: 0px 15px 15px 0px;
	margin-right: 0px;
        margin-left: 0px;
}

#tray {
	color: #ff0080; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
        margin-left: 0px;
}

#idle_inhibitor {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
        margin-left: 0px;
}

#network {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
        margin-left: 0px;
}

#scratchpad {
	color: #ff00ff; 
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#scratchpad.empty {
	color: #CCCCCC; 
        border-radius: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
}

#cpu {
	color:  #00ced1;
        border-radius: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
}

#memory {
	color:  #00ced1;
        border-radius: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
}

#temperature {
	color: #00ced1;
        border-radius: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
}
#pulseaudio {
	color: #CCCCCC; 
        border-radius: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
}
